{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page_title }}</title>
    <meta name="description" content="Neat">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="{% static 'fonts/googlefonts.css' %}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/neat.css' %}">
</head>
<body>

<div class="o-page">
    <div class="o-page__sidebar js-page-sidebar">
        <aside class="c-sidebar">
            <div class="c-sidebar__brand">
                <a href="#"><img src="{% static 'img/logo.svg' %}" alt="Neat"></a>
            </div>

            <!-- Scrollable -->
            <div class="c-sidebar__body">
                <ul class="c-sidebar__list">
                    <li>
                        <a class="c-sidebar__link is-active" href="/">
                            <i class="c-sidebar__icon feather icon-pie-chart"></i>Dashboard
                        </a>
                    </li>
                </ul>
            </div>

            <a class="c-sidebar__footer" href="/logout/">
                Logout <i class="c-sidebar__footer-icon feather icon-power"></i>
            </a>
        </aside>
    </div>

    <main class="o-page__content">
        <header class="c-navbar u-mb-medium">
            <button class="c-sidebar-toggle js-sidebar-toggle">
                <i class="feather icon-align-left"></i>
            </button>

            <h2 class="c-navbar__title">{{ navbar_title }}</h2>

        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="c-state-card c-state-card--info">
                        <h4 class="c-state-card__title">Processes completed</h4>
                        <span class="c-state-card__number" id="process-completed-number">45</span>
                        <p class="c-state-card__status">
                            <i class="feather icon-settings"></i> Total no. of processes completed by the AIW
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="c-state-card c-state-card--success">
                        <h4 class="c-state-card__title">Success Rate</h4>
                        <span class="c-state-card__number" id="success-percentage-number">70%</span>
                        <p class="c-state-card__status">
                            <i class="feather icon-percent"></i> Percentage of processes completed successfully
                        </p>
                    </div>
                </div>

                {% comment %}<div class="col-md-4">
                    <div class="c-state-card c-state-card--fancy">
                        <h4 class="c-state-card__title">Duration</h4>
                        <span class="c-state-card__number">450 H</span>
                        <p class="c-state-card__status">
                            <i class="feather icon-clock"></i> Total no. of hours AIW has been running for
                        </p>
                    </div>
                </div>{% endcomment %}

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="c-card" data-mh="dashboard3-cards">
                        <h4>Control Panel</h4>
                        <p class="u-mb-medium">Start/stop AIW processes.</p>

                        <div class="o-line u-pb-small u-mb-small u-border-bottom">
                            <div class="o-media">
                                <div class="o-media__body">
                                    <h6>Worker bot</h6>
                                    <p style="color: #ee4343" id="worker_bot-runbutton-msg">Paused</p>
                                </div>
                            </div>
                            <a  class="c-btn c-btn--info has-icon" id="workerBotStartButton">
                                Start <i class="feather icon-play"></i>
                            </a>
                            <!-- <a href="#" class="c-btn c-btn--info has-icon" id="workerBotStopButton">
                              Stop <i class="feather icon-pause"></i>
                            </a> -->

                        </div>

                        <div class="o-line">
                            <div class="o-media">
                                <div class="o-media__body">
                                    <h6>NID bot</h6>
                                    <p style="color: #ee4343" id="nid_bot-runbutton-msg">Paused</p>
{#                                    <p style="color: #28c76f" id="nid_bot-runbutton-msg">Running</p>#}
                                </div>
                            </div>

              <a  class="c-btn c-btn--info has-icon" id="nidBotStartButton">
                              Start <i class="feather icon-play"></i>
                            </a>
{% comment %}
                            <a href="#" class="c-btn c-btn--info has-icon" id="nidBotStopButton">
                                Stop <i class="feather icon-pause"></i>
                            </a>
                            {% endcomment %}
                        </div>

                    </div>
                </div>

                <div class="col-md-8">
                    <div class="c-card" data-mh="dashboard3-cards">
                        <h4 id="triggerMqtt">AIW Bot Logs</h4>
                        <p class="u-mb-medium">Logs generated by AIW, sorted by last process first.</p>
                        <div class="c-feed" id="server-feed">

                            {% comment %}<div class="c-feed__item c-feed__item--success">
                                <p><strong>17/09/2019 11:52:35</strong> - Opened "view details" page of client with ID
                                    #3643184</p>
                            </div>

                            <div class="c-feed__item c-feed__item--danger">
                                <p><strong>17/09/2019 11:52:35</strong> - Failed to read captcha on login page</p>
                            </div>

                            <div class="c-feed__item c-feed__item--success">
                                <p><strong>17/09/2019 11:52:35</strong> - Opened "view details" page of client with ID
                                    #3643184</p>
                            </div>

                            <div class="c-feed__item c-feed__item--danger">
                                <p><strong>17/09/2019 11:52:35</strong> - Failed to read captcha on login page</p>
                            </div>

                            <div class="c-feed__item c-feed__item--success">
                                <p><strong>17/09/2019 11:52:35</strong> - Opened "view details" page of client with ID
                                    #3643184</p>
                            </div>

                            <div class="c-feed__item c-feed__item--danger">
                                <p><strong>17/09/2019 11:52:35</strong> - Failed to read captcha on login page</p>
                            </div>

                            <div class="c-feed__item c-feed__item--success">
                                <p><strong>17/09/2019 11:52:35</strong> - Opened "view details" page of client with ID
                                    #3643184</p>
                            </div>

                            <div class="c-feed__item c-feed__item--danger">
                                <p><strong>17/09/2019 11:52:35</strong> - Failed to read captcha on login page</p>
                            </div>

                            <div class="c-feed__item c-feed__item--success">
                                <p><strong>17/09/2019 11:52:35</strong> - Opened "view details" page of client with ID
                                    #3643184</p>
                            </div>

                            <div class="c-feed__item c-feed__item--danger">
                                <p><strong>17/09/2019 11:52:35</strong> - Failed to read captcha on login page</p>
                            </div>

                            <div class="c-feed__item c-feed__item--success">
                                <p><strong>17/09/2019 11:52:35</strong> - Opened "view details" page of client with ID
                                    #3643184</p>
                            </div>

                            <div class="c-feed__item c-feed__item--danger">
                                <p><strong>17/09/2019 11:52:35</strong> - Failed to read captcha on login page</p>
                            </div>{% endcomment %}

                        </div><!-- // .c-feed -->
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="c-card u-ph-zero u-pb-zero">

                        <div class="u-ph-medium">
                            <h4>Performance</h4>
{#                            <p>Activity from 1 Jan 2018 to 30 July 2018</p>#}

{#                            <span class="u-h1">$23,420</span>#}
                        </div>

                        <div class="u-p-medium">
                            <div class="c-chart">
                                 <div id="interactive" style="height: 300px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <footer class="c-footer">
                        <p>© 2019 FernTech Solutions Ltd.</p>
                    </footer>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Main JavaScript -->
<script src="{% static 'js/neat.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>

{% block page-script %}
{% endblock %}

</body>
</html>